﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Licznik.ascx.cs" Inherits="Kontrolki_Licznik" %>
Naszą stronę odwiedziło:
<asp:Label ID="licznikLabel" runat="server" /><br />
Aktualnie przebywa na stronie:
<asp:Label ID="licznikActiveLabel" runat="server" />