﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Szukaj.ascx.cs" Inherits="Kontrolki_WebUserControl" %>
Nazwa produktu:
<asp:TextBox ID="nazwaTextBox" runat="server"></asp:TextBox>
<asp:RequiredFieldValidator ID="NazwaRequiredFieldValidator" runat="server" ControlToValidate="nazwaTextBox" ErrorMessage="Podaj fragment nazwy produktu">*</asp:RequiredFieldValidator>
<asp:Button ID="szukajButton" runat="server" OnClick="szukajButton_Click" Text="Szukaj" />

