﻿@{
    // Ustaw układ i tytuł strony
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Błąd logowania";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Nieudane logowanie w usłudze.</h2>
</hgroup>
