﻿@* W przypadku korzystania z pakietów usuń tę sekcję *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Nie pamiętasz hasła?";

    bool passwordSent = false;
    var resetToken = "";
    var email = Request.Form["email"] ?? Request.QueryString["email"];

    // Konfiguracja weryfikacji
    Validation.RequireField("email", "Pole adresu e-mail jest wymagane.");

    if (IsPost) {
        AntiForgery.Validate();
        // zweryfikuj adres e-mail
        bool isValid = true;
        if (Validation.IsValid()) {
            if (WebSecurity.GetUserId(email) > -1 && WebSecurity.IsConfirmed(email)) {
                resetToken = WebSecurity.GeneratePasswordResetToken(email); // Opcjonalnie określ datę wygaśnięcia tokenu
            } else {
                passwordSent = true; // Nie chcemy ujawniać, że użytkownik nie istnieje.
                isValid = false;
            }
        }
        if (isValid) {
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
            var resetUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/PasswordReset?resetToken=" + HttpUtility.UrlEncode(resetToken));
            WebMail.Send(
                to: email,
                subject: "Zresetuj hasło", 
                body: "Użyj tego tokenu resetowania hasła, aby zresetować swoje hasło. Token: " + resetToken + @". Odwiedź stronę <a href=""" + HttpUtility.HtmlAttributeEncode(resetUrl) + @""">" + resetUrl + "</a> w celu zresetowania hasła."
            );
            passwordSent = true;
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Użyj poniższego formularza, aby zresetować hasło.</h2>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty()) {
    <p>
        Instrukcje resetowania hasła wyślemy na adres e-mail skojarzony z Twoim kontem.
    </p>

    if (passwordSent) {
        <p class="message-success">
            Instrukcje resetowania hasła zostały wysłane na określony adres e-mail.
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary(excludeFieldErrors: true)

        <fieldset>
            <legend>Formularz instrukcji resetowania hasła</legend>
            <ol>
                <li class="email">
                    <label for="email" @if (!ModelState.IsValidField("email")) {<text>class="error-label"</text>}>Adres e-mail</label>
                    <input type="text" id="email" name="email" value="@email" disabled="@passwordSent" @Validation.For("email") />
                    @Html.ValidationMessage("email")
                </li>
            </ol>
            <p class="form-actions">
                <input type="submit" value="Wyślij instrukcje" disabled="@passwordSent" />
            </p>
        </fieldset>
    </form>
} else {
   <p class="message-info">
       Odzyskiwanie hasła jest wyłączone dla tej witryny sieci Web, ponieważ serwer SMTP 
       nie jest poprawnie skonfigurowany. Skontaktuj się z właścicielem witryny, aby zresetować 
       swoje hasło.
   </p>
}