﻿@* W przypadku korzystania z pakietów usuń tę sekcję *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Resetowanie hasła";

    var passwordResetToken = Request.Form["resetToken"] ?? Request.QueryString["resetToken"];

    bool tokenExpired = false;
    bool isSuccess = false;

    // Konfiguracja weryfikacji
    Validation.RequireField("newPassword", "Pole nowego hasła jest wymagane.");
    Validation.Add("confirmPassword",
        Validator.EqualsTo("newPassword", "Nowe hasło i potwierdzenie hasła są niezgodne."));
    Validation.RequireField("passwordResetToken", "Pole tokenu resetowania hasła jest wymagane.");
    Validation.Add("newPassword",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Nowe hasło musi mieć co najmniej 6 znaków"));

    if (IsPost && Validation.IsValid()) {
        AntiForgery.Validate();
        var newPassword = Request["newPassword"];
        var confirmPassword = Request["confirmPassword"];

        if (WebSecurity.ResetPassword(passwordResetToken, newPassword)) {
            isSuccess = true;
        } else {
            ModelState.AddError("passwordResetToken", "Token resetowania hasła jest nieprawidłowy.");
            tokenExpired = true;
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Użyj poniższego formularza, aby zresetować hasło.</h2>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty()) {
    if (!Validation.IsValid()) {
        <p class="validation-summary-errors">
            @if (tokenExpired) {
                <text>Token resetowania hasła jest niepoprawny lub wygasł. Odwiedź <a href="~/Account/ForgotPassword">stronę Nie pamiętasz hasła</a> 
                w celu wygenerowania nowego.</text>
            } else {
                <text>Nie można zresetować hasła. Popraw błędy i ponów próbę.</text>
            }
        </p>
    }

    if (isSuccess) {
        <p class="message-success">
            Hasło zostało zmienione. Kliknij <a href="~/Account/Login" title="Zaloguj">tutaj</a>, aby się zalogować.
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        <fieldset>
            <legend>Formularz zmiany hasła</legend>
            <ol>
                <li class="new-password">
                    <label for="newPassword" @if (!ModelState.IsValidField("newPassword")) {<text>class="error-label"</text>}>Nowe hasło</label> 
                    <input type="password" id="newPassword" name="newPassword" disabled="@isSuccess" @Validation.For("newPassword") />
                    @Html.ValidationMessage("newPassword")
                </li>
                <li class="confirm-password">
                    <label for="confirmPassword" @if (!ModelState.IsValidField("confirmPassword")) {<text>class="error-label"</text>}>Potwierdź hasło</label> 
                    <input type="password" id="confirmPassword" name="confirmPassword" disabled="@isSuccess" @Validation.For("confirmPassword") />
                    @Html.ValidationMessage("confirmPassword")
                </li>
                <li class="reset-token">
                    <label for="resetToken" @if (!ModelState.IsValidField("resetToken")) {<text>class="error-label"</text>}>Password reset token</label> 
                    <input type="text" id="resetToken" name="resetToken" value="@passwordResetToken" disabled="@isSuccess" @Validation.For("resetToken") />
                    @Html.ValidationMessage("resetToken")
                </li>
            </ol>
            <input type="submit" value="Resetuj hasło" disabled="@isSuccess"/>
        </fieldset>
    </form>
} else {
    <p class="message-info">
        Odzyskiwanie hasła jest wyłączone dla tej witryny sieci Web, ponieważ serwer SMTP 
        nie jest poprawnie skonfigurowany. Skontaktuj się z właścicielem witryny, aby zresetować 
        swoje hasło.
    </p>
}
